ScannerLibrary/Web References/srvDocumentiProtocollo/DocumentiProtocollo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InviaAllegato">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Documento" type="tns:DocumentiDati" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DocumentiDati">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Anno" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Numero" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Documento" type="tns:ExportResult" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ExportResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Buffer" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InviaAllegatoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InviaAllegatoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InviaAllegatoSoapIn">
    <wsdl:part name="parameters" element="tns:InviaAllegato" />
  </wsdl:message>
  <wsdl:message name="InviaAllegatoSoapOut">
    <wsdl:part name="parameters" element="tns:InviaAllegatoResponse" />
  </wsdl:message>
  <wsdl:portType name="DocumentiProtocolloSoap">
    <wsdl:operation name="InviaAllegato">
      <wsdl:input message="tns:InviaAllegatoSoapIn" />
      <wsdl:output message="tns:InviaAllegatoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DocumentiProtocolloSoap" type="tns:DocumentiProtocolloSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InviaAllegato">
      <soap:operation soapAction="http://tempuri.org/InviaAllegato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DocumentiProtocolloSoap12" type="tns:DocumentiProtocolloSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InviaAllegato">
      <soap12:operation soapAction="http://tempuri.org/InviaAllegato" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DocumentiProtocollo">
    <wsdl:port name="DocumentiProtocolloSoap" binding="tns:DocumentiProtocolloSoap">
      <soap:address location="http://localhost:50724/Services/DocumentiProtocollo.asmx" />
    </wsdl:port>
    <wsdl:port name="DocumentiProtocolloSoap12" binding="tns:DocumentiProtocolloSoap12">
      <soap12:address location="http://localhost:50724/Services/DocumentiProtocollo.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>